body {
  background: lemonchiffon;
}
h1,
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: purple;
}
.croissant-photo {
  max-height: 600px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
